

<%- include('partials/header'); -%>
  
<body>
  <%- include('partials/topbar'); -%>
  <div class="display" style="background-color: rgb(241, 202, 112);">
    <h1>Users</h1>
    <ul>
   
  </ul>
  <button class="logout"><a href="/logout">Log Out</a></button>
  
</div>
    <!-- Footer Start -->
    <%- include('partials/footer'); -%>
    <!-- Footer End -->


    <%- include('libraries'); -%>
    <script>
      const ul = document.querySelector("ul");
      const getUsers = async () => {
      const res = await fetch("/api/auth/getUsers");
      const data = await res.json();
     
      data.user.map((mappedUser) => {
      if (mappedUser.username !== "admin") {
      let li = `<li> <b>Username</b> => ${mappedUser.username} <br> <b>Role</b> => ${mappedUser.role} </li> <button class="edit">Edit Role</button> <button class="delete">Delete User</button>`;
      ul.innerHTML += li;
      } else {
      return null;
      }
        });
      };
      getUsers();
    </script>
 
</body>

</html>