

<%- include('partials/header'); -%>
  
<body>
  <div>
    <h1>User Profile</h1>
    <ul></ul>
    <button class="logout"><a href="/logout">Log Out</a></button>
  </div>
    <!-- Footer Start -->
    <%- include('partials/footer'); -%>
    <!-- Footer End -->


    <%- include('libraries'); -%>
</body>

</html>
