<%- include('partials/header'); -%>

<body>
  <%- include('partials/topbar'); -%>
  <div>
    <h1>Register Page</h1>
    <form action="/api/auth/register" method="post">
      <div class="error" style="background-color: red"></div>
      <br />
      <label for="username">Username</label><br />
      <input type="text" id="username" name="username" required /><br />
      <label for="password">Password</label><br />
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="register" /><br />
    </form>
    <a href="/login">Already registered? Login</a>
    <a href="/auth/gooogle">Sign in with Google</a>
  </div>
  <!-- Footer Start -->
  <%- include('partials/footer'); -%>
  <!-- Footer End -->

  <%- include('libraries'); -%>
</body>
